/* ------ОБНУЛЕНИЕ------------------------ */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Montserrat;
	color: #252b42;
	font-size: 14px;
	font-weight: 500px;
	background: #fafafa;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/* ---------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ------HEADER------------------------ */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;
	min-height: 104px;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 677px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	line-height: calc(24 / 14 * 100%);
	font-weight: 600;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/* ------PAGE------------------------ */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whotheare {
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/* ------HEADER-BLOCK------------------------ */
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	color: #252b42;
	line-height: 142%;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
	font-weight: 500;
	font-size: 14px;
	color: #737373;
	line-height: 142%;
}
/* ------MAIN-BLOCK------------------------ */
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 403px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}
.main-block__title {
	font-size: 58px;
	font-weight: 800;
	line-height: calc(80 / 58 * 100%);
	letter-spacing: 0.2px;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	font-size: 20px;
	font-weight: 500;
	line-height: calc(30 / 20 * 100%);
	color: #737373;
}
@media (max-width: 479px) {
	.main-block__text {
		color: #3b3b3b;
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0px;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 36px;
	min-height: 48px;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: calc(28 / 14 * 100%);
	text-align: center;
	margin: 10px 0;
}
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	color: #fff;
	background: #ff7b47;
}

.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
/* ------------------------------------ */
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: #ffffff;
	padding: 35px;
}
@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-services {
}
.item-services_green .item-services__title {
	color: #fff;
}
.item-services_green .item-services__text {
	color: #fff;
}
.item-services_green {
	background: #0d5c63;
}
.item-services > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-services__icon {
}
.item-services__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-services__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 142%;
	color: #737373;
}
/* ------------------------------------------------------------------ */
.advantages {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 30px 0;
	}
}
.advantages__container {
}
.advantages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	background: #fff;
	padding: 30px;
	text-align: center;
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #252b42;
}
.advantages__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	color: #737373;
}

/* ---PRACTICE--------------------------------------------------------------- */

.practice {
	padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__container {
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}
.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-practice__text {
	color: #737373;
	font-weight: 500;
	font-size: 14px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}
/* ---------WHO-THE-ARE--------------------------------------------------------------- */

.whotheare {
	background: #ffffff;
	padding: 80px 0px 130px 0px;
}
.whotheare__container {
}
.whotheare__header {
	margin: 0px 0px 100px 0px;
}
.whotheare__body {
	display: flex;
	align-items: flex-start;
}
.whotheare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whotheare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whotheare__content {
	flex: 1 1 auto;
	margin: 20px 0px 0px 121px;
}

.whotheare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whotheare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}

.whotheare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.whotheare__text {
	font-weight: 500;
	line-height: 142%;
	color: #737373;
	letter-spacing: 0.2px;
}
.whotheare__items {
}
.whotheare__item {
}
.whotheare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.item-whotheare {
	display: flex;
}
.item-whotheare__icon {
	flex: 0 0 32px;
}
.item-whotheare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whotheare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.item-whotheare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whotheare__text {
	font-weight: 600;
	line-height: 142%;
	color: #737373;
	letter-spacing: 0.2px;
	white-space: nowrap;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1080px) {
	.whotheare__content {
		margin: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {
	.whotheare__title {
		font-size: 24px;
	}
	.whotheare__content {
		margin: 0px 0px 0px 0px;
	}
	.whotheare__body {
		flex-direction: column;
		align-items: stretch;
	}
	.whotheare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whotheare__video:not(:last-child) {
		margin: 50px 0px 0px 0px;
	}
	.whotheare__header {
		margin: 0px 0px 30px 0px;
	}
	.whotheare {
		padding: 50px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	.whotheare {
		padding: 20px 0px 0px 0px;
	}
	.whotheare__video:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.whotheare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
}
/* ---CLIETNS--------------------------------------------------------------- */
.clients {
	padding: 50px 0;
}
.clients__container {
}
.clients__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.clients__item {
	flex: 0 1 16.6667%;
	text-align: center;
	padding: 8px 15px;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}
/* ------SUBSCRIBE------------------------------------------------ */
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	align-items: center;
	background: #17213c;
	border-radius: 2px;
}
@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0px 30px;
	}
}
.subscribe__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #ffffff;
}
@media (max-width: 810px) {
	.subscribe__title {
		margin: 0px 0px 20px 0px;
	}
	.subscribe__body {
		margin: 0px -15px;
		padding: 20px 15px;
	}
}
@media (min-width: 810px) {
	.subscribe__title {
		max-width: 266px;
	}
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
}

.subscribe__form {
	display: flex;
	flex: 0 1 50%;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 5px 0px 0px 5px;
	padding: 15px 20px;
	color: #737373;
	border-right: 0px;
}
.subscribe__input:focus {
	color: black;
}
.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 0px 22px;
}
/* -----GET-IN-TOUCH----------------------------------- */
.getintouch {
	padding: 80px 0px 135px 0px;
}
.getintouch__container {
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0px -15px;
}
@media (min-width: 992px) {
	.getintouch__items {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0px;
	}
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 50px 15px;
}
.item-getintouch_active {
	background: #252b42;
	padding: 80px 15px;
	color: #fff;
}
@media (max-width: 992px) {
	.item-getintouch_active {
		padding: 50px 15px;
	}
}
.item-getintouch_active > .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}
.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: 150%;
	font-size: 16px;
}
.item-getintouch__email:hover {
	text-decoration: underline;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-getintouch__button {
	border: 1px solid #ff7b47;
	min-height: 44px;
	display: flex;
	font-weight: 600px;
	justify-content: center;
	align-items: center;
	color: #ff7b47;
	line-height: 142%;
	padding: 5px 20px;
	text-align: center;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
	background: #ff7b47;
	color: #fff;
}
/* ------------------------------------ */
.contact {
	padding: 40px 0;
	background: #fff;
}
.contact__container {
}
.contact__content {
	padding: 0px 20px 20px 0px;
}
@media (min-width: 767px) {
	.contact__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	color: #252b42;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 142%;
	color: #737373;
}
.contact__button {
	background: #ff7b47;
	border-radius: 5px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 0px 40px;
	font-weight: 700;
	line-height: 200%;
	transition: all 0.3s ease 0s;
}
.contact__button:hover {
	background: #fa5e20;
}

/* ------FOOTER------------------------ */
.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0px;
}
.footer__main {
}
.footer_row {
	margin: 0px -15px;
	display: flex;
	flex-wrap: wrap;
}
.footer__column {
	flex: 0 1 16.6667%;
	padding: 15px 15px;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 767px) {
	.footer__column {
		flex: 0 1 50%;
	}
}
.footer__label {
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #ffffff;
	letter-spacing: 0.2px;
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.footer__contacts {
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	min-height: 30px;
	color: #fff;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item__phone {
	background: url("../img/footer/icons/01.svg") left no-repeat;
}
.contacts-footer__item__map {
	background: url("../img/footer/icons/02.svg") left no-repeat;
}
.contacts-footer__item__email {
	background: url("../img/footer/icons/03.svg") left no-repeat;
}
.footer_bottom {
	padding: 25px 0px;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copy {
	font-weight: 600;
	line-height: 171%;
	color: #737373;
}
.footer__social {
}
.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		text-align: center;
		margin: 0px 0px 15px 0px;
	}
}
